
<head>
	<title></title>
</head>
<div class="jumbo">
	<h2>hey Team launch academy </h2>

<body>
<style>

.header {
padding-left:200px; 

}

</style>

<div> 

	<p> Thought I would fire up a rails application for this demo.
		Looking forward to speaking with you more about this opportunity
	</p>

<div class ="header">

<l1>
 <li> A big hobby of mine is trading options </li>
 <img src= "https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQs09EHO87_NhFXP1wlUmbUqvY_9--zifosNrEzkoLhwc-4RW1hMA"/>

 <br></br>

 <li> I like to run, read and progam as well. </li>
 <img src= "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQBzTGaIdxOCbnmKBobvBIUEyU3_meIBTiX5Htn6Gw-Cpj3_pbj"/>

<h3> Here are a couple of interesting websites I have been perusing lately:</h3> 


<a href ="http://rubykoans.com/"> Ruby Koans:</a>
A website for learning test driven ruby development.
<br></br>

<a href ="http://flask.pocoo.org/"> Flask:</a>
Flask is a "micro framework" that can help you build very simple web applications. Good stuff, I build a small application with it recently. 
<br></br>

<a href ="http://css-tricks.com/app-from-scratch-1-design/">Building a web app from scratch </a> This website gives a step by step for concepting a web application from scratch. 

<a href ="https://github.com/erikgrueter/price_survey"> Here is a dynamic survey i built using Javascript </a> 

<br></br>

</div> 

<h4>This is a working Flask Application </h4>


<body> 

</html>

</body>
</html>
{% endblock %}